<app-header></app-header>
<div class="layout">
  <app-sidebar></app-sidebar>
  <main class="main-content">
    <h1>User Edit</h1>
    <form
      [formGroup]="editUserForm"
      (ngSubmit)="onSubmit()"
      enctype="multipart/form-data"
    >
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" />
        <mat-error *ngIf="editUserForm.get('name')?.hasError('required')"
          >Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="editUserForm.get('email')?.hasError('required')"
          >Email is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" type="number" />
        <mat-error *ngIf="editUserForm.get('phone')?.hasError('required')"
          >Phone is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.name">{{
            role.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="editUserForm.get('role')?.hasError('required')"
          >Role is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">active</mat-option>
          <mat-option value="inactive">inactive</mat-option>
          <mat-option value="pending">pending</mat-option>
        </mat-select>
        <mat-error *ngIf="editUserForm.get('status')?.hasError('required')"
          >Status is required</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
      >
        Submit
      </button>
    </form>
  </main>
</div>
