<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="toggle-btn" (click)="toggleSidebar()">&#9776;</div>
  <nav class="nav-links">
    <a
      routerLink="/admin/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Dashboard</a
    >
    <a
      routerLink="/admin/product-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Product</a
    >
    <a
      routerLink="/admin/region-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Region</a
    >
    <a
      routerLink="/admin/user-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >User</a
    >
    <a
      routerLink="/admin/role-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Role</a
    >
    <a
      routerLink="/admin/sale-transaction-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Sales Transaction</a
    >
  </nav>
</aside>
