<app-header></app-header>
<div class="layout">
  <app-sidebar></app-sidebar>
  <main class="main-content">
    <div>
      <h1>Welcome to Our Store</h1>
      <p>Explore our wide range of products!</p>
    </div>
    <div class="filter-section">
      <!-- <label for="category">Region:</label> -->
      <select
        id="category"
        [(ngModel)]="selectedRegionId"
        (change)="filterProducts()"
      >
        <option *ngFor="let region of regions" [value]="region.id">
          {{ region.name }}
        </option>
      </select>
    </div>

    <div class="search-bar">
      <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchTerm"
        (input)="filterProducts()"
      />
      <button (click)="filterProducts()">Search</button>
    </div>

    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img
          [src]="`http://localhost:5276/${product.imagePath}`"
          [alt]="product.name"
        />
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <div class="price-stock">
          <span class="price">₹{{ product.price }}</span>
          <span class="stock" [class.out-of-stock]="product.quantity === 0">
            {{
              product.quantity > 0
                ? product.quantity + " in stock"
                : "Out of stock"
            }}
          </span>
        </div>

        <input
          type="number"
          min="1"
          [max]="product.quantity"
          [(ngModel)]="product.selectedQty"
          placeholder="Qty"
          [disabled]="product.quantity === 0"
          class="qty-input"
        />

        <button
          [disabled]="
            product.quantity === 0 ||
            !product.selectedQty ||
            product.selectedQty < 1
          "
          (click)="addToCart(product)"
          class="add-to-cart-button"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </main>
</div>
