.button-no {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.button-yes {
  background-color: #f32121;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 2px;
}
